Source: git-lfs-fcgi
Section: libdevel
Priority: optional
Maintainer: Sound <sound@sagaforce.com>
Build-Depends: debhelper (>= 9), cmake, bison, flex, libssl-dev, libfcgi-dev, libsqlite3-dev, libjson-c-dev, libz-dev
Standards-Version: 3.9.5
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/git-lfs-fcgi.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/git-lfs-fcgi.git;a=summary

Package: git-lfs-fcgi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A basic Git LFS server 
 This package provides a FCGI server which supports the Git LFS protocol.
